<div>
    
</div>
<nav class="navbar navbar-expand navbar-light bg-light">
    <div class="nav navbar-nav">
        <a class="nav-item nav-link active" href="#" aria-current="page" routerLink="/home" routerLinkActive="active">Home<span class="visually-hidden">(current)</span></a>
        <a class="nav-item nav-link active" href="#" aria-current="page" routerLink="/venta" routerLinkActive="active">Ventas</a>
        <a class="nav-item nav-link active" href="#" aria-current="page" routerLink="/compra" routerLinkActive="active">Compras</a>
        <a class="nav-item nav-link active" href="#" aria-current="page" routerLink="/catalogo" routerLinkActive="active">Catalogo</a>
        <a class="nav-item nav-link active" href="#" aria-current="page" routerLink="/sucursales" routerLinkActive="active">Sucursales</a>
    </div>
</nav>
<br>
<div class="container-xl">
    <div class="page-header">
      <div class="row align-items-center">
        <div class="col">
          <h2 class="page-title">
            Sucursales
          </h2>
        </div>
      </div>
    </div>
</div>

<br>

<div class="mx-auto" style="width: 70%">
    <div class="card">
        <div>
            <div class="mx-0 d-inline-block">
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Dirección</th>
                            <th scope="col">Horario</th>
                            <th scope="col">Nombre</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="row">1</td>
                            <td>Tepito 1429</td>
                            <td>8:00 AM - 5:00PM</td>
                            <td>TEPITO</td>
                        </tr>
                        <tr>
                            <td scope="row">2</td>
                            <td>Candelaria 1515</td>
                            <td>8:00 AM - 5:00PM</td>
                            <td>CANDELARIA</td>
                        </tr>
                        <tr>
                            <td scope="row">3</td>
                            <td>Buena Vista 1400</td>
                            <td>8:00 AM - 7:00PM</td>
                            <td>BB</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
        </div>
    </div>
</div>

<footer class="pie-pagina" style="position: fixed; bottom: 0; width: 100%;">
    <div class="grupo-2">
        <small>&copy; 2022 <b>Happy Panda</b> - Todos los Derechos Reservados.</small>
    </div>
</footer>


