<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Happy Panda</title>
        <meta name="viewport" content="width=device-width, initial scale=1.0">
        <link rel="stylesheet" href="venta.component.css">
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
        <script src="https://kit.fontawesome.com/4db3f232fb.js" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <header>
            <a href="#" class="logo">Ventas</a>
            <ul>
                <li><a href="#" class="active">Home</a></li>
                <li><a href="#" routerLink="/venta" routerLinkActive="active">Ventas</a></li>
                <li><a href="#" routerLink="/compra" routerLinkActive="active">Compras</a></li>
                <li><a href="#" routerLink="/catalogo" routerLinkActive="active">Catalogo</a></li>
            </ul>
        </header> 
        <section>
            <img src="../../assets/img/stars.png" id="stars">

            <table>
                <tr>
                    <th>#</th>
                    <th>Nombre Producto</th>
                    <th>Precio</th>
                    <th>ID de producto</th>
                    <th>Cantidad disponible</th>
                    <th>Checkbox</th>
                </tr>
    
                <tr>
                    <td>1</td>
                    <td>Peluche</td>
                    <td>$200</td>
                    <td>52355</td>
                    <td>12</td>
                    <td><input type="text" placeholder="Cantidad a comprar"> <input type="submit" value="Confirmar"></td>
                </tr>
    
                <tr>
                    <td>1</td>
                    <td>Peluche</td>
                    <td>$200</td>
                    <td>52355</td>
                    <td>12</td>
                    <td><input type="text" placeholder="Cantidad a comprar"> <input type="submit" value="Confirmar"></td>
                </tr>

                <tr>
                    <td>1</td>
                    <td>Peluche</td>
                    <td>$200</td>
                    <td>52355</td>
                    <td>12</td>
                    <td><input type="text" placeholder="Cantidad a comprar"> <input type="submit" value="Confirmar"></td>
                </tr>

                <tr>
                    <td>1</td>
                    <td>Peluche</td>
                    <td>$200</td>
                    <td>52355</td>
                    <td>12</td>
                    <td><input type="text" placeholder="Cantidad a comprar"> <input type="submit" value="Confirmar"></td>
                </tr>

                <tr>
                    <td>1</td>
                    <td>Peluche</td>
                    <td>$200</td>
                    <td>52355</td>
                    <td>12</td>
                    <td><input type="text" placeholder="Cantidad a comprar"> <input type="submit" value="Confirmar"></td>
                </tr>

                <tr>
                    <td>1</td>
                    <td>Peluche</td>
                    <td>$200</td>
                    <td>52355</td>
                    <td>12</td>
                    <td><input type="text" placeholder="Cantidad a comprar"> <input type="submit" value="Confirmar"></td>
                </tr>

                <tr>
                    <td>1</td>
                    <td>Peluche</td>
                    <td>$200</td>
                    <td>52355</td>
                    <td>12</td>
                    <td><input type="text" placeholder="Cantidad a comprar"> <input type="submit" value="Confirmar"></td>
                </tr>

                <tr>
                    <td>1</td>
                    <td>Peluche</td>
                    <td>$200</td>
                    <td>52355</td>
                    <td>12</td>
                    <td><input type="text" placeholder="Cantidad a comprar"> <input type="submit" value="Confirmar"></td>
                </tr>

                <tr>
                    <td>1</td>
                    <td>Peluche</td>
                    <td>$200</td>
                    <td>52355</td>
                    <td>12</td>
                    <td><input type="text" placeholder="Cantidad a comprar"> <input type="submit" value="Confirmar"></td>
                </tr>

                <tr>
                    <td>1</td>
                    <td>Peluche</td>
                    <td>$200</td>
                    <td>52355</td>
                    <td>12</td>
                    <td><input type="text" placeholder="Cantidad a comprar"> <input type="submit" value="Confirmar"></td>
                </tr>

                <tr>
                    <td>1</td>
                    <td>Peluche</td>
                    <td>$200</td>
                    <td>52355</td>
                    <td>12</td>
                    <td><input type="text" placeholder="Cantidad a comprar"> <input type="submit" value="Confirmar"></td>
                </tr>

                <tr>
                    <td>1</td>
                    <td>Peluche</td>
                    <td>$200</td>
                    <td>52355</td>
                    <td>12</td>
                    <td><input type="text" placeholder="Cantidad a comprar"> <input type="submit" value="Confirmar"></td>
                </tr>

                <tr>
                    <td>1</td>
                    <td>Peluche</td>
                    <td>$200</td>
                    <td>52355</td>
                    <td>12</td>
                    <td><input type="text" placeholder="Cantidad a comprar"> <input type="submit" value="Confirmar"></td>
                </tr>
                
            </table>
        </section>
    </body>

    <footer class="pie-pagina">
        <div class="grupo-2">
            <small>&copy; 2021 <b>Happy Panda</b> - Todos los Derechos Reservados.</small>
        </div>
    </footer>

</html>
