<head>
    <meta charset="utf-8">
    <title>Happy Panda</title>
    <meta name="viewport" content="width=device-width, initial scale=1.0">
    <link rel="stylesheet" href="agregar-producto.component.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://kit.fontawesome.com/4db3f232fb.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>
</head>

<nav class="navbar navbar-expand navbar-light bg-light">
    <div class="nav navbar-nav">
        <a class="nav-item nav-link active" href="#" aria-current="page" routerLink="/home" routerLinkActive="active">Home<span class="visually-hidden">(current)</span></a>
        <a class="nav-item nav-link active" href="#" aria-current="page" routerLink="/venta" routerLinkActive="active">Ventas</a>
        <a class="nav-item nav-link active" href="#" aria-current="page" routerLink="/compra" routerLinkActive="active">Compras</a>
        <a class="nav-item nav-link active" href="#" aria-current="page" routerLink="/catalogo" routerLinkActive="active">Catalogo</a>
        <a class="nav-item nav-link active" href="#" aria-current="page" routerLink="/sucursales" routerLinkActive="active">Sucursales</a>
    </div>
</nav>
<br>
<div class="container-xl">
    <div class="page-header">
      <div class="row align-items-center">
        <div class="col">
          <h2 class="page-title">
            Agregar Producto
          </h2>
        </div>
      </div>
    </div>
</div>

<br>

<div class="mx-auto" style="width: 70%">
    <div class="card">
        <div class="card-header">
           Ingrese los datos correspondientes
        </div>
        <div class="card-body">
            <form ngNativeValidate [formGroup]="formGroup" (ngSubmit)="enviarDatos()">
                <div class="mb-3">
                <label for="" class="form-label">ID</label>
                <input required type="text"class="form-control" name="" id="" formControlName="idproductos" aria-describedby="helpId" placeholder="Ingrese ID del producto">
                </div>

                <div class="mb-3">
                    <label for="" class="form-label">Nombre</label>
                    <input required type="text"class="form-control" name="" id="" formControlName="nombre" aria-describedby="helpId" placeholder="Ingrese el nombre del producto">
                </div>

                <div class="mb-3">
                    <label for="" class="form-label">Precio Unitario</label>
                    <input required type="text"class="form-control" name="" id="" formControlName="unit" aria-describedby="helpId" placeholder="Ingrese el precio del producto">
                </div>

                <div class="mb-3">
                    <label for="" class="form-label">Stock</label>
                    <input required type="text"class="form-control" name="" id="" formControlName="precio" aria-describedby="helpId" placeholder="Ingrese el stock correspondiente">
                </div>

                <div class="btn-group" role="group" aria-label="">
                
                    <button type="submit" class="btn btn-success">Guardar</button>

                    <button type="button" routerLink="/catalogo" routerLinkActive="active" class="btn btn-primary">Cancelar</button>
                </div>

            </form>
            
        </div>
        
    </div>
</div>

<footer class="pie-pagina" style="position: fixed; bottom: 0; width: 100%;">
    <div class="grupo-2">
        <small>&copy; 2022 <b>Happy Panda</b> - Todos los Derechos Reservados.</small>
    </div>
</footer>
