<nav class="navbar navbar-expand navbar-light bg-light">
    <div class="nav navbar-nav">
        <a class="nav-item nav-link active" href="#" aria-current="page" routerLink="/home" routerLinkActive="active">Home<span class="visually-hidden">(current)</span></a>
        <a class="nav-item nav-link active" href="#" aria-current="page" routerLink="/venta" routerLinkActive="active">Ventas</a>
        <a class="nav-item nav-link active" href="#" aria-current="page" routerLink="/compra" routerLinkActive="active">Compras</a>
        <a class="nav-item nav-link active" href="#" aria-current="page" routerLink="/catalogo" routerLinkActive="active">Catalogo</a>
        <a class="nav-item nav-link active" href="#" aria-current="page" routerLink="/producto" routerLinkActive="active">Productos</a>
    </div>
</nav>

<div class="container-xl">
    <div class="page-header">
      <div class="row align-items-center">
        <div class="col">
          <h2 class="page-title">
            Catalogo
          </h2>
        </div>
      </div>
    </div>
</div>

<br>

<div class="mx-auto" style="width: 70%">
    <div class="card">
        <div>
            <div class="mx-0 d-inline-block">
            </div>
        </div>
        <div class="card-header d-flex justify-content-between">
            Productos Disponibles
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Stock</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let producto of Productos; let iControl=index">
                            <td scope="row">{{producto.idproductos}}</td>
                            <td>{{producto.nombre}}</td>
                            <td>{{producto.unit}}</td>
                            <td>{{producto.precio}}</td>
                            <td>
                                <a class="btn btn-info" routerLink="/editar" routerLinkActive="active"> Editar</a> | 
                                <a class="btn btn-danger" (click)="borrarRegistro(producto.idproductos, iControl)" role="button">Borrar</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
        </div>
    </div>
</div>


