<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Happy Panda</title>
        <meta name="viewport" content="width=device-width, initial scale=1.0">
        <link rel="stylesheet" href="compra.component.css">
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
        <script src="https://kit.fontawesome.com/4db3f232fb.js" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <header>
            <a href="#" class="logo">Ventas</a>
            <ul>
                <li><a href="#" class="active">Home</a></li>
                <li><a href="#" routerLink="/venta" routerLinkActive="active">Ventas</a></li>
                <li><a href="#" routerLink="/compra" routerLinkActive="active">Compras</a></li>
                <li><a href="#" routerLink="/catalogo" routerLinkActive="active">Catalogo</a></li>
                <li><a href="#" routerLink="/producto" routerLinkActive="active">Productos</a></li>
            </ul>
        </header> 
        <section>
            <img src="../../assets/img/stars.png" id="stars">
        </section>
            <div class="table-responsive">
                <table class="table card-table">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Stock</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="row" class="cursor-pointer">10</td>
                            <td scope="row" class="cursor-pointer">Lapiz</td>
                            <td scope="row" class="cursor-pointer">$5</td>
                            <td scope="row" class="cursor-pointer">200</td>
                            <td scope="row">
                                <input type="text" placeholder="Cantidad">
                                <button class="btn btn-light ms-2">Comprar</button>
                            </td>
                        </tr>
                        <tr>
                            <td scope="row" class="cursor-pointer">10</td>
                            <td scope="row" class="cursor-pointer">Lapiz</td>
                            <td scope="row" class="cursor-pointer">$5</td>
                            <td scope="row" class="cursor-pointer">200</td>
                            <td scope="row">
                                <input type="text" placeholder="Cantidad">
                                <button class="btn btn-light ms-2">Comprar</button>
                            </td>
                        </tr>
                        <tr>
                            <td scope="row" class="cursor-pointer">10</td>
                            <td scope="row" class="cursor-pointer">Lapiz</td>
                            <td scope="row" class="cursor-pointer">$5</td>
                            <td scope="row" class="cursor-pointer">200</td>
                            <td scope="row">
                                <input type="text" placeholder="Cantidad">
                                <button class="btn btn-light ms-2">Comprar</button>
                            </td>
                        </tr>
                        <tr>
                            <td scope="row" class="cursor-pointer">10</td>
                            <td scope="row" class="cursor-pointer">Lapiz</td>
                            <td scope="row" class="cursor-pointer">$5</td>
                            <td scope="row" class="cursor-pointer">200</td>
                            <td scope="row">
                                <input type="text" placeholder="Cantidad">
                                <button class="btn btn-light ms-2">Comprar</button>
                            </td>
                        </tr>
                        <tr>
                            <td scope="row" class="cursor-pointer">10</td>
                            <td scope="row" class="cursor-pointer">Lapiz</td>
                            <td scope="row" class="cursor-pointer">$5</td>
                            <td scope="row" class="cursor-pointer">200</td>
                            <td scope="row">
                                <input type="text" placeholder="Cantidad">
                                <button class="btn btn-light ms-2">Comprar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
    </body>

    <footer class="pie-pagina">
        <div class="grupo-2">
            <small>&copy; 2021 <b>Happy Panda</b> - Todos los Derechos Reservados.</small>
        </div>
    </footer>

</html>
